<div class="card mb-3">
  <div class="card-header">{{ trip.name }}</div>

  <img [src]="'assets/' + trip.image" class="card-img-top">

  <div class="card-body">

    <h6>{{ trip.resort }}</h6>

    <p>
      {{ trip.length }} — {{ trip.perPerson | currency:'USD':'symbol' }} per person
    </p>

    <p [innerHTML]="trip.description"></p>

    <button class="btn btn-primary mt-2" (click)="onEditClick()">
      Edit Trip
    </button>

    <button class="btn btn-danger mt-2 ms-2" (click)="onDeleteClick()">
      Delete
    </button>

  </div>
</div>