<h2>Edit Trip</h2>

<form (ngSubmit)="onSubmit()">

  <input class="form-control mb-2" [(ngModel)]="trip.code" name="code" placeholder="Code">
  <input class="form-control mb-2" [(ngModel)]="trip.name" name="name" placeholder="Name">
  <input class="form-control mb-2" [(ngModel)]="trip.length" name="length" placeholder="Length">
  <input class="form-control mb-2" [(ngModel)]="trip.start" name="start" placeholder="Start">
  <input class="form-control mb-2" [(ngModel)]="trip.resort" name="resort" placeholder="Resort">
  <input class="form-control mb-2" [(ngModel)]="trip.perPerson" name="perPerson" type="number" placeholder="Price">
  <input class="form-control mb-2" [(ngModel)]="trip.image" name="image" placeholder="Image">
  <textarea class="form-control mb-2" [(ngModel)]="trip.description" name="description"></textarea>

  <button class="btn btn-primary">Save Changes</button>

</form>